@use "@/styles/main" as *;

.banner {
  min-height: 144px;
  @include breakpoint(xss) {
    min-height: 127px;
  }
  @include breakpoint(md) {
    min-height: 256px;
  }
  @include breakpoint(lg) {
    min-height: 568px;
  }

  img {
    @include breakpoint(lg) {
      min-height: 553px;
    }
  }
}
